extends ../components/layout2-profile
block content
  if user
    div
    .grid.grid--3-cols
                .feature 
                    .card           
                        div(class="row align-items-center profile-header")
                            div(class="col-md-2 mb-3")
                            img(
                                class="rounded-circle img-fluid profile-picture mb-3 mb-md-0"
                                src=user.picture
                                alt="Profile"
                            )
                            .space
                            div(class="col-md text-center text-md-left")
                            p.feature-title #{user.name}
                            p.feature-text email: #{user.email}
                            p.feature-text nickname : #{user.nickname} 
                    .images.card
                        .grid2.grid--3-cols
                            p.text Add Profile Picture
                            input#img(multiple='' type='file' name='img' accept='image/*')
                            button.save-all-btn.btn(type='submit') Save
                .notify-cont.card
                            h1.notify-cont-heading Notifications
                            .data-cont
                                .watch.card
                                    h1.notify-cont-heading Watching
                                    .grid2.grid--3-cols
                                        a.car-link(href=`/auction/${car_id}`) See the car &rarr;
                                .bid.card
                                    h1.notify-cont-heading Bidding In
                                    .grid2.grid--3-cols
                                        a.car-link(href=`/auction/${car_id}`) See the car &rarr;
                                .sels.card  
                                     h1.notify-cont-heading Selling
                                     .grid2.grid--3-cols
                                        a.car-link(href=`/auction/${car_id}`) See the car &rarr;

                
                if isVerified
                        .feature
                            .card
                                div(class="col-md text-center text-md-left")
                                    p.feature-title Add extra info. to become a bidder

                                    form.login(action="/updateUser" method="POST")
                                        div
                                        p.feature-text Your Email
                                        input(type='text', id='email', name='email')
                                    
                                        div
                                        p.feature-text Age 
                                        input(type='text', id='age', name='age')
                                        div
                                        p.feature-text Country
                                        input(type='text', id='country', name='country')
                                        div
                                        p.feature-text City
                                        input(type='text', id='city', name='city')
                                        div
                                        p.feature-text Zip-Code
                                        input(type='text', id='zip', name='zip')
                                        .space    
                                        <button class = "btn btn-danger btn-block">Update</button>
                else
                    .feature
                        .card
                            div(class="col-md text-center text-md-left")
                             div
                                 p.feature-text You must verify email before you can upgrade your account


                if extra 
                    .feature
                        .card
                            div(class="col-md text-center text-md-left")
                                p.feature-title new added data:
                                P.feature-text Age : #{extra.age}
                                P.feature-text Country : #{extra.country}
                                P.feature-text City : #{extra.city}
                                P.feature-text Zip-Code : #{extra.zip}