mixin main-navbar(activeRoute)
    ul.main-nav-list
      li
        a(
        href="/"
        class="main-nav-link",
        class=`${activeRoute === "/" && "router-link-exact-active"}`
        ) About Us
      li
        a(
        href="/buyCar"
        class="main-nav-link",
        class=`${activeRoute === "/buyCar" && "router-link-exact-active"}`
        ) Buy a Car
      li
        a(
            href="/sellCar"
            class="main-nav-link",
            class=`${activeRoute === "/sellCar" && "router-link-exact-active"}`
        ) Sell a Car
      li
       a(
            href="/faq"
            class="main-nav-link",
            class=`${activeRoute === "/faq" && "router-link-exact-active"}`
        ) Faq
      
      